<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel App</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <div id="app" class="row">
    <div class="col s4">
      <h4 class="holder headline teal-text text-lighten-2">
        Travel App
      </h4>
      <div class="holder city">
        <br>
        <div class="input-field">
          <input type="text" id="destinationCity" placeholder="enter city here">
          <label for="destinationCity">Enter City here</label>
        </div>
        <div class="input-field">
          <input type="text" id="destinationCountry" placeholder="enter country code here, ex: US, CA, NL"
            maxlength="2">
          <label for="destinationCountry">Enter Country Code here</label>
        </div>
      </div>
      <div class="holder date">
        <p class="grey-text">When is your travel?</p>
        <div class="input-field">
          <input class="grey-text" id="tripDateFrom" type="date"></input>
          <label for="tripDateFrom">From</label>
        </div>
        <div class="input-field">
          <input class="grey-text" id="tripDateTo" type="date"></input>
          <label for="tripDateTo">To</label>
        </div>
        <button id="generate" type="submit" class="waves-effect waves-light btn"> Generate </button>
      </div>
    </div>
    <div class="col s8">
      <div>Your trips:</div>
      <ul id="entryHolder">
      </ul>
    </div>
  </div>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
   </script>
</body>

</html>