body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.avatar-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    .city-avatar{
        border-radius: 50% !important;
        height: 120px;
        width: 120px !important;
        margin-left: 10px;
    }

}

.headline {
    height: min-content;
}
